# Read file

In [1]:
import pandas as pd
df = pd.read_csv(r'data\supermarkets-commas.txt', index_col='ID')
df

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

# Geocoding

In [2]:
from geopy.geocoders import ArcGIS
non = ArcGIS()
non.geocode("666 21st St, San Francisco, CA 94114")

Location(21st St, San Francisco, California, 94114, (37.756179898472574, -122.43342826918953, 0.0))

## Set geocode address style

In [3]:
df["Full Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"]
df

,Address,City,State,Country,Name,Employees,Full Address
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114"

In [4]:
df["Location"] = df["Full Address"].apply(non.geocode)
df

,Address,City,State,Country,Name,Employees,Full Address,Location
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666 21st St, San Francisco, California, 9411..."
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119","(735 Dolores St, San Francisco, California, 94..."
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332 Hill St, San Francisco, California, 94114..."
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995 23rd St, San Francisco, California, 9411..."
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056 Sanchez St, San Francisco, California, 9..."
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551 Alvarado St, San Francisco, California, 9..."

In [5]:
df["Latitude"] = df["Location"].apply(lambda loc: loc.latitude)
df["Longitude"] = df["Location"].apply(lambda loc: loc.longitude)
df

,Address,City,State,Country,Name,Employees,Full Address,Location,Latitude,Longitude
ID,,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119","(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [6]:
non.geocode("Afghanistan")

Location(Afghanistan, (33.831137065000064, 66.02471179700007, 0.0))